.layer-fx calcite-block {
  margin: 0;
}

.layer-fx .block-content {
  padding: 1.5rem;
}

.layer-fx pre {
  border: 1px solid grey;
  font-size: 0.75rem;
  border-left: 4px solid green;
  border-radius: 3px;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background-color: #333;
  overflow: auto;
  max-height: 100px;
}
