.layer-fx calcite-block {
  margin: 0;
}

.layer-fx .block-content {
  padding: 1.5rem;
}

.layer-fx .code-container {
  display: flex;
  flex-direction: row;
}

.layer-fx pre {
  border: 1px solid grey;
  font-size: 0.75rem;
  width: 100%;
  border-left: 4px solid green;
  border-radius: 3px;
  flex: 1;
  padding: 0.5rem;
  background-color: #333;
  margin: 0 0 0 0.75rem;
  overflow: auto;
  max-height: 100px;
}
